*{
    font-family:  Calibri;
}
body{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}

/* .member-col{
    flex-basis: 10%;
    border-radius: 10px;
    margin-bottom: 5%;
    background: #f5ebff;
    padding: 25px;
    cursor: pointer;
    text-align: center;
} */

.about-col{
    flex-basis: 10%;
    border-radius: 10px;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: #fffdfd;
    padding: 25px;
    border: black solid 1px;
    transition: 0.5s
}

.about-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}
.member-col img{
    height: 60px;
    margin-top: 3%;
    border-radius: 50%;
    border: rgb(56, 37, 37) solid 2px;
    transition: 0.5s
}

.member-col img:hover{
    border-color: rgb(226, 43, 43);
}

.member-col h3{
    margin-top: 1%;
}